body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #edf2f9;
}

span {
    font-size: 1.2em;
    color: #2569c3;
}

a {
    color: #2569c3;
    text-decoration: none;
}

input::-webkit-input-placeholder {
    text-align: center;
}

#logoTxtDiv {
    position: relative;
    padding: 0px;
    margin: 10px auto;
    width: 100%;
    height: 50px;
}

#logoTxt {
    position: absolute;
    margin: 0px 18px;
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

#loginFormDiv {
    position: relative;
    padding: 0px;
    margin: 30px auto 0px auto;
    width: 400px;
    height: 340px;
    border: 2px solid #2569c3;
    border-radius: 20px;
    background-color: #ffffff;
}

#loginForm {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 400px;
    height: 340px;
}

#loginFormTbl {
    position: relative;
    padding: 0;
    margin: 7px auto;
    text-align: center;
    border-spacing: 8px;
}

th {
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

#userID,
#userPasswd {
    font-size: 1.5em;
    width: 250px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 20px;
}

#loginBtn {
    font-size: 25px;
    color: #ffffff;
    width: 258px;
    height: 40px;
    border-radius: 20px;
    background-color: #2569c3;
    border: 2px solid #2569c3;
}