/*弹框样式表文件*/

#updateEmailDiv {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    top: 80px;
    width: 600px;
    height: 400px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #2569c3;
    visibility: visible;
    z-index: 10;
}

#updateEmailDiv #updateEmailFrm {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 600px;
    height: 400px;
    border-radius: 25px;
    background-color: #ffffff;
}

#updatePasswdDiv {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    top: 80px;
    width: 620px;
    height: 490px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #2569c3;
    visibility: visible;
    z-index: 10;
}

#updatePasswdDiv #updatePasswdFrm {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 620px;
    height: 490px;
    border-radius: 25px;
    background-color: #ffffff;
}

#updateEmailFrm #updateTitleTxt,
#updatePasswdFrm #updateTitleTxt {
    font-size: 1.8em;
    color: #2569c3;
}

#updateEmailFrm label,
#updatePasswdFrm label {
    font-size: 1.5em;
    color: #2569c3;
}

#updateEmailTbl,
#updatePasswdTbl {
    position: relative;
    padding: 0;
    margin: 8.5px auto;
    border-spacing: 10px;
}

#updateEmailFrm #userPasswd,
#updatePasswdFrm #newPasswd {
    margin: 2px auto;
    font-size: 25px;
    width: 470px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 20px;
}

#updatePasswdFrm #retype {
    margin: 2px auto;
    font-size: 25px;
    width: 470px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 20px;
}

#updateEmailFrm #userEmail,
#updatePasswdFrm #userEmail {
    margin: 2px auto;
    font-size: 25px;
    width: 300px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 20px;
}

#updateEmailFrm #sendCodeBtn-updateEmail,
#updatePasswdFrm #sendCodeBtn-updatePasswd {
    font-size: 1.2em;
    color: #ffffff;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #2569c3;
    border: 2px solid #2569c3;
}

#updateEmailFrm #sendCodeBtn-updateEmail:hover,
#updatePasswdFrm #sendCodeBtn-updatePasswd:hover {
    font-size: 1.2em;
    color: #ffffff;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #4586db;
    border: 2px solid #4586db;
}

#updateEmailFrm #code-updateEmail,
#updatePasswdFrm #code-updatePasswd {
    margin: 2px auto;
    font-size: 25px;
    width: 470px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 20px;
}


#updateEmailFrm .helpTxt,
#updatePasswdFrm .helpTxt {
    font-size: 1.2em;
    color: #ec8b1c;
}

.popUpBtn #cancelBtn,
.popUpBtn {
    float: right;
}

#updateEmailFrm #cancelBtn,
#updatePasswdFrm #cancelBtn {
    font-size: 1.2em;
    color: #2569c3;
    width: 60px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 0 solid #ffffff;
}

#updateEmailFrm #cancelBtn:hover,
#updatePasswdFrm #cancelBtn:hover {
    font-size: 1.2em;
    color: #4586db;
    width: 60px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 0 solid #ffffff;
}

#updateEmailFrm #toUpdateEmail,
#updatePasswdFrm #toUpdatePasswd {
    font-size: 1.2em;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #2569c3;
    border: 2px solid #2569c3;
}

#updateEmailFrm #toUpdateEmail:hover,
#updatePasswdFrm #toUpdatePasswd:hover {
    font-size: 1.2em;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #4586db;
    border: 2px solid #4586db;
}

#eqptDetlDiv {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    top: 40px;
    width: 500px;
    height: 625px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #2569c3;
    visibility: visible;
    z-index: 10;
}

#eqptDetlDiv #eqptDetlForm {
    position: absolute;
    padding: 0px;
    margin: 0 auto;
    width: 500px;
    height: 625px;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 90%;
    border-spacing: 8px;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #detlTitleTxt {
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #editEqptDetlInfo,
#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptDetlName,
#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptDetlID,
#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptDetlCre,
#eqptDetlDiv #eqptDetlForm #eqptDetlTbl select,
#eqptDetlDiv #eqptDetlForm #eqptDetlTbl textarea {
    float: right;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl tr td span {
    font-size: 1.5em;
    font-weight: bold;
    color: #2569c3;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptImg {
    width: 200px;
    height: 206.8px;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptDetlID,
#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptDetlName {
    font-size: 1.2em;
    width: 220px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptDetlCls,
#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptDetlColg {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 228px;
    height: 36px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptDetlCre {
    font-size: 1.2em;
    width: 223px;
    height: 32px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl textarea {
    font-size: 1.2em;
    width: 220px;
    height: 50px;
    resize: none;
    outline: none;
    overflow-y: scroll;
    border: 2px solid #2569c3;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, .98);
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #c8c8c8;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #editEqptDetlInfo,
#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #editDetlUpdateBtn {
    font-size: 1.2em;
    width: 150px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #editEqptDetlInfo:hover,
#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #editDetlUpdateBtn:hover {
    font-size: 1.2em;
    width: 150px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #4586db;
    background-color: #4586db;
    border-radius: 15px;
}

/* #eqptDetlDiv #eqptDetlForm #eqptDetlTbl #editDetlCancelBtn {
    font-size: 1.2em;
    width: 150px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #dd6933;
    background-color: #dd6933;
    border-radius: 15px;
} */
#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #editDetlCancelBtn {
    font-size: 1.2em;
    width: 150px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #editDetlCancelBtn:hover {
    font-size: 1.2em;
    width: 150px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #4586db;
    background-color: #4586db;
    border-radius: 15px;
}


#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptImg {
    text-align: center;
}

/*添加单个设备的表单*/
#addEqptDiv {
    position: relative;
    padding: 0;
    margin: 0 auto;
    top: 45px;
    width: 450px;
    height: 485px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #2569c3;
    visibility: visible;
    z-index: 10;
}

#addEqptDiv #addEqptForm {
    position: absolute;
    padding: 0;
    margin: 0 auto;
    width: 450px;
    height: 485px;
    border-radius: 25px;
    background-color: #ffffff;
}

#addEqptDiv #addEqptForm #addEqptTbl {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    border-spacing: 8px;
}

#addEqptDiv #addEqptForm #addEqptTbl tr:nth-child(1) th:nth-child(1) {
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

#addEqptDiv #addEqptForm #addEqptTbl .tips {
    font-size: 1em;
    /* font-weight: bold; */
    color: #2569c3;
}

#addEqptDiv #addEqptForm #addEqptTbl span {

    font-size: 1.5em;
    font-weight: bold;
    color: #2569c3;
}

#addEqptDiv #addEqptForm #addEqptTbl #newEqptID,
#addEqptDiv #addEqptForm #addEqptTbl #newEqptName {
    font-size: 1.2em;
    width: 220px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#addEqptDiv #addEqptForm #addEqptTbl #newEqptImg {
    width: 200px;
}

#addEqptDiv #addEqptForm #addEqptTbl #newEqptCls,
#addEqptDiv #addEqptForm #addEqptTbl #newEqptColg {
    font-size: 1.2em;
    width: 228px;
    height: 36px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#addEqptDiv #addEqptForm #addEqptTbl #newEqptCre {
    font-size: 1.2em;
    width: 223px;
    height: 32px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#addEqptDiv #addEqptForm #addEqptTbl #newEqptID,
#addEqptDiv #addEqptForm #addEqptTbl #newEqptName,
#addEqptDiv #addEqptForm #addEqptTbl #newEqptImg,
#addEqptDiv #addEqptForm #addEqptTbl #newEqptCls,
#addEqptDiv #addEqptForm #addEqptTbl #newEqptColg,
#addEqptDiv #addEqptForm #addEqptTbl #newEqptCre,
#addEqptDiv #addEqptForm #addEqptTbl textarea {
    float: right;
}

#addEqptDiv #addEqptForm #addEqptTbl textarea {
    font-size: 1.2em;
    width: 220px;
    height: 50px;
    resize: none;
    outline: none;
    overflow-y: scroll;
    border: 2px solid #2569c3;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, .98);
}

#addEqptDiv #addEqptForm #addEqptTbl tr:last-child {
    text-align: center;
}

#addEqptDiv #addEqptForm #addEqptTbl #addNewEqptBtn {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 130px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#addEqptDiv #addEqptForm #addEqptTbl #cancelAddEqptBtn {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 130px;
    height: 36px;
    outline: none;
    color: #2569c3;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 15px;
}

#addEqptDiv #addEqptForm #addEqptTbl #addNewEqptBtn:hover {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 130px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #4586db;
    background-color: #4586db;
    border-radius: 15px;
}

#addEqptDiv #addEqptForm #addEqptTbl #cancelAddEqptBtn:hover {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 130px;
    height: 36px;
    outline: none;
    color: #4586db;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    border-radius: 15px;
}

/*批量导入设备的弹框的样式表文件*/
#impEqptsDiv {
    position: relative;
    padding: 0;
    margin: 0 auto;
    top: 100px;
    width: 500px;
    height: 275px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #2569c3;
    visibility: visible;
    z-index: 10;
}

#impEqptsDiv #impEqptsForm {
    position: absolute;
    padding: 0;
    margin: 0 auto;
    width: 500px;
    height: 275px;
    border-radius: 25px;
    background-color: #ffffff;
}

#impEqptsDiv #impEqptsForm #impEqptsTbl {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 100%;
    border-spacing: 16px;
}

#impEqptsDiv #impEqptsForm #impEqptsTbl span {
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

#impEqptsDiv #impEqptsForm #impEqptsTbl label {
    font-size: 1.5em;
    font-weight: bold;
    color: #2569c3;
}

#impEqptsDiv #impEqptsForm #impEqptsTbl a {
    font-weight: bold;
    color: #2569c3;
    text-decoration: none;
}

#impEqptsDiv #impEqptsForm #impEqptsTbl a:hover {
    font-weight: bold;
    color: #4586db;
    text-decoration: none;
}

#impEqptsDiv #impEqptsForm #impEqptsTbl #cancelImpEqptsBtn,
#impEqptsDiv #impEqptsForm #impEqptsTbl #impNewEqptsBtn {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 170px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#impEqptsDiv #impEqptsForm #impEqptsTbl #cancelImpEqptsBtn:hover,
#impEqptsDiv #impEqptsForm #impEqptsTbl #impNewEqptsBtn:hover {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 170px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #4586db;
    background-color: #4586db;
    border-radius: 15px;
}

#impEqptsDiv #impEqptsForm #impEqptsTbl #cancelImpEqptsBtn,
#impEqptsDiv #impEqptsForm #impEqptsTbl #cancelImpEqptsBtn:hover {
    float: left;
}

#impEqptsDiv #impEqptsForm #impEqptsTbl #impNewEqptsBtn,
#impEqptsDiv #impEqptsForm #impEqptsTbl #impNewEqptsBtn:hover {
    float: right;
}

#lendEqptDiv {
    position: relative;
    padding: 0;
    margin: 0 auto;
    top: 45px;
    width: 450px;
    height: 540px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #2569c3;
    visibility: visible;
    z-index: 10;
}

#lendEqptDiv #lendEqptForm {
    position: absolute;
    padding: 0;
    margin: 0 auto;
    width: 450px;
    height: 540px;
    border-radius: 25px;
    background-color: #ffffff;
}

#lendEqptDiv #lendEqptForm #lendEqptTbl {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 90%;
    border-spacing: 8px;
}

#lendEqptDiv #lendEqptForm #lendEqptTbl th {
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

#lendEqptDiv #lendEqptForm #lendEqptTbl tr:nth-child(2) {
    text-align: center;
}

#lendEqptDiv #lendEqptForm #lendEqptTbl label {
    font-size: 1.5em;
    font-weight: bold;
    color: #2569c3;
}

#lendEqptDiv #lendEqptForm #lendEqptTbl #beLentEqptID {
    font-size: 1.2em;
    width: 220px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#lendEqptDiv #lendEqptForm #lendEqptTbl #lendBegn,
#lendEqptDiv #lendEqptForm #lendEqptTbl #lendEnd {
    font-size: 1.2em;
    width: 223px;
    height: 32px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#lendEqptDiv #lendEqptForm #lendEqptTbl textarea {
    font-size: 1.2em;
    width: 220px;
    height: 50px;
    resize: none;
    outline: none;
    overflow-y: scroll;
    border: 2px solid #2569c3;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, .98);
}

#lendEqptDiv #lendEqptForm #lendEqptTbl tr:nth-child(3) td:nth-child(1),
#lendEqptDiv #lendEqptForm #lendEqptTbl tr:nth-child(4) td:nth-child(1),
#lendEqptDiv #lendEqptForm #lendEqptTbl tr:nth-child(5) td:nth-child(1),
#lendEqptDiv #lendEqptForm #lendEqptTbl tr:nth-child(6) td:nth-child(1) {
    float: left;
}

#lendEqptDiv #lendEqptForm #lendEqptTbl #beLentEqptID,
#lendEqptDiv #lendEqptForm #lendEqptTbl #lendBegn,
#lendEqptDiv #lendEqptForm #lendEqptTbl #lendEnd,
#lendEqptDiv #lendEqptForm #lendEqptTbl textarea {
    float: right;
}

#lendEqptDiv #lendEqptForm #lendEqptTbl #cancelLendEqptBtn,
#lendEqptDiv #lendEqptForm #lendEqptTbl #lendAnEqptBtn {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 170px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#lendEqptDiv #lendEqptForm #lendEqptTbl #cancelLendEqptBtn:hover,
#lendEqptDiv #lendEqptForm #lendEqptTbl #lendAnEqptBtn:hover {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 170px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #4586db;
    background-color: #4586db;
    border-radius: 15px;
}

#lendEqptDiv #lendEqptForm #lendEqptTbl #cancelLendEqptBtn,
#lendEqptDiv #lendEqptForm #lendEqptTbl #cancelLendEqptBtn:hover {
    float: left;
}

#lendEqptDiv #lendEqptForm #lendEqptTbl #lendAnEqptBtn,
#lendEqptDiv #lendEqptForm #lendEqptTbl #lendAnEqptBtn:hover {
    float: right;
}

#lendEqptsDiv {
    position: relative;
    padding: 0;
    margin: 0 auto;
    top: 45px;
    width: 450px;
    height: 585px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #2569c3;
    visibility: visible;
    z-index: 10;
}

#lendEqptsDiv #lendEqptsForm {
    position: absolute;
    padding: 0;
    margin: 0 auto;
    width: 450px;
    height: 585px;
    border-radius: 25px;
    background-color: #ffffff;
}

#lendEqptsDiv #lendEqptsForm #lendEqptsTbl {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 90%;
    border-spacing: 8px;
}

#lendEqptsDiv #lendEqptsForm #lendEqptsTbl th {
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

#lendEqptsDiv #lendEqptsForm #lendEqptsTbl tr:nth-child(3) {
    text-align: center;
}

#lendEqptsDiv #lendEqptsForm #lendEqptsTbl label {
    font-size: 1.5em;
    font-weight: bold;
    color: #2569c3;
}

#lendEqptsDiv #lendEqptsForm #lendEqptsTbl #lendEqptsID {
    font-size: 1.2em;
    width: 228px;
    height: 36px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}


#lendEqptsDiv #lendEqptsForm #lendEqptsTbl #lendBegn,
#lendEqptsDiv #lendEqptsForm #lendEqptsTbl #lendEnd {
    font-size: 1.2em;
    width: 223px;
    height: 32px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#lendEqptsDiv #lendEqptsForm #lendEqptsTbl textarea {
    font-size: 1.2em;
    width: 220px;
    height: 50px;
    resize: none;
    outline: none;
    overflow-y: scroll;
    border: 2px solid #2569c3;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, .98);
}

#lendEqptsDiv #lendEqptsForm #lendEqptsTbl #lendQty {
    font-size: 1.2em;
    width: 220px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#lendEqptsDiv #lendEqptsForm #lendEqptsTbl #cancelLendEqptsBtn,
#lendEqptsDiv #lendEqptsForm #lendEqptsTbl #bulkLendEqptsBtn {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 170px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#lendEqptsDiv #lendEqptsForm #lendEqptsTbl #cancelLendEqptsBtn:hover,
#lendEqptsDiv #lendEqptsForm #lendEqptsTbl #bulkLendEqptsBtn:hover {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 170px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #4586db;
    background-color: #4586db;
    border-radius: 15px;
}

#lendEqptsDiv #lendEqptsForm #lendEqptsTbl #cancelLendEqptsBtn,
#lendEqptsDiv #lendEqptsForm #lendEqptsTbl #cancelLendEqptsBtn:hover {
    float: left;
}

#lendEqptsDiv #lendEqptsForm #lendEqptsTbl #bulkLendEqptsBtn,
#lendEqptsDiv #lendEqptsForm #lendEqptsTbl #bulkLendEqptsBtn:hover {
    float: right;
}

#lendEqptsDiv #lendEqptsForm #lendEqptsTbl tr:nth-child(2) td:nth-child(1),
#lendEqptsDiv #lendEqptsForm #lendEqptsTbl tr:nth-child(4) td:nth-child(1),
#lendEqptsDiv #lendEqptsForm #lendEqptsTbl tr:nth-child(5) td:nth-child(1),
#lendEqptsDiv #lendEqptsForm #lendEqptsTbl tr:nth-child(6) td:nth-child(1) {
    float: left;
}

#lendEqptsDiv #lendEqptsForm #lendEqptsTbl #lendEqptsID,
#lendEqptsDiv #lendEqptsForm #lendEqptsTbl #lendBegn,
#lendEqptsDiv #lendEqptsForm #lendEqptsTbl #lendEnd,
#lendEqptsDiv #lendEqptsForm #lendEqptsTbl textarea,
#lendEqptsDiv #lendEqptsForm #lendEqptsTbl #lendQty {
    float: right;
}

/*设备借用申请详情*/
#applDetlDiv {
    position: relative;
    padding: 0;
    margin: 0 auto;
    top: 22px;
    width: 450px;
    height: 645px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #2569c3;
    visibility: visible;
    z-index: 10;
}

#applDetlDiv #applDetlForm {
    position: absolute;
    padding: 0;
    margin: 0 auto;
    width: 450px;
    height: 645px;
    border-radius: 25px;
    background-color: #ffffff;
}

#applDetlDiv #applDetlForm #applDetlTbl {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 90%;
    border-spacing: 8px;
}

#applDetlDiv #applDetlForm #applDetlTbl span {
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

#applDetlDiv #applDetlForm #applDetlTbl label {
    font-size: 1.2em;
    font-weight: bold;
    color: #2569c3;
}

#applDetlDiv #applDetlForm #applDetlTbl tr:nth-child(4) {
    text-align: center;
}

#applDetlDiv #applDetlForm #applDetlTbl #applQty,
#applDetlDiv #applDetlForm #applDetlTbl #dspUser {
    font-size: 1.2em;
    width: 220px;
    height: 25px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#applDetlDiv #applDetlForm #applDetlTbl #applEqptID {
    font-size: 1.2em;
    width: 228px;
    height: 31px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#applDetlDiv #applDetlForm #applDetlTbl #lendBegn,
#applDetlDiv #applDetlForm #applDetlTbl #lendEnd,
#applDetlDiv #applDetlForm #applDetlTbl #applCre,
#applDetlDiv #applDetlForm #applDetlTbl #dspDate {
    font-size: 1.2em;
    width: 223px;
    height: 27px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#applDetlDiv #applDetlForm #applDetlTbl textarea {
    font-size: 1.2em;
    width: 220px;
    height: 50px;
    resize: none;
    outline: none;
    overflow-y: scroll;
    border: 2px solid #2569c3;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, .98);
}

#applDetlDiv #applDetlForm #applDetlTbl #applDetlCancelBtn {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 100%;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#applDetlDiv #applDetlForm #applDetlTbl #applDetlCancelBtn:hover {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 100%;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #4586db;
    background-color: #4586db;
    border-radius: 15px;
}

#applDetlDiv #applDetlForm #applDetlTbl #applQty,
#applDetlDiv #applDetlForm #applDetlTbl #applEqptID,
#applDetlDiv #applDetlForm #applDetlTbl #lendBegn,
#applDetlDiv #applDetlForm #applDetlTbl #lendEnd,
#applDetlDiv #applDetlForm #applDetlTbl textarea,
#applDetlDiv #applDetlForm #applDetlTbl #applCre,
#applDetlDiv #applDetlForm #applDetlTbl #dspUser,
#applDetlDiv #applDetlForm #applDetlTbl #dspDate {
    float: right;
}

/*驳回设备借用申请的弹窗*/
#rjctApplDiv,
#rjctApplsDiv {
    position: relative;
    padding: 0;
    margin: 0 auto;
    top: 75px;
    width: 450px;
    height: 310px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #2569c3;
    visibility: visible;
    z-index: 10;
}

#rjctApplDiv #rjctApplForm,
#rjctApplsDiv #rjctApplsForm {
    position: absolute;
    padding: 0;
    margin: 0 auto;
    width: 450px;
    height: 310px;
    border-radius: 25px;
    background-color: #ffffff;
}

#rjctApplDiv #rjctApplForm #rjctApplTbl,
#rjctApplsDiv #rjctApplsForm #rjctApplsTbl {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 90%;
    border-spacing: 15px;
}

#rjctApplDiv #rjctApplForm #rjctApplTbl span,
#rjctApplsDiv #rjctApplsForm #rjctApplsTbl span {
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

#rjctApplDiv #rjctApplForm #rjctApplTbl label,
#rjctApplsDiv #rjctApplsForm #rjctApplsTbl label {
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    color: #2569c3;
}

#rjctApplDiv #rjctApplForm #rjctApplTbl #rjctedApplID {
    float: right;
    font-size: 1.2em;
    width: 220px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#rjctApplDiv #rjctApplForm #rjctApplTbl textarea,
#rjctApplsDiv #rjctApplsForm #rjctApplsTbl textarea {
    float: right;
    font-size: 1.2em;
    width: 220px;
    height: 100px;
    resize: none;
    outline: none;
    overflow-y: scroll;
    border: 2px solid #2569c3;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, .98);
}

#rjctApplDiv #rjctApplForm #rjctApplTbl #cancelRjctBtn,
#rjctApplsDiv #rjctApplsForm #rjctApplsTbl #cancelRjctBtn,
#rjctApplDiv #rjctApplForm #rjctApplTbl #rjctApplBtn,
#rjctApplsDiv #rjctApplsForm #rjctApplsTbl #bulkRjctApplsBtn {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 170px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#rjctApplDiv #rjctApplForm #rjctApplTbl #cancelRjctBtn:hover,
#rjctApplDiv #rjctApplForm #rjctApplTbl #rjctApplBtn:hover,
#rjctApplsDiv #rjctApplsForm #rjctApplsTbl #cancelRjctBtn:hover,
#rjctApplsDiv #rjctApplsForm #rjctApplsTbl #bulkRjctApplsBtn:hover {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 170px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #4586db;
    background-color: #4586db;
    border-radius: 15px;
}

#rjctApplDiv #rjctApplForm #rjctApplTbl #cancelRjctBtn,
#rjctApplDiv #rjctApplForm #rjctApplTbl #cancelRjctBtn:hover,
#rjctApplsDiv #rjctApplsForm #rjctApplsTbl #cancelRjctBtn,
#rjctApplsDiv #rjctApplsForm #rjctApplsTbl #cancelRjctBtn:hover {
    float: left;
}

#rjctApplDiv #rjctApplForm #rjctApplTbl #rjctApplBtn,
#rjctApplDiv #rjctApplForm #rjctApplTbl #rjctApplBtn:hover,
#rjctApplsDiv #rjctApplsForm #rjctApplsTbl #bulkRjctApplsBtn,
#rjctApplsDiv #rjctApplsForm #rjctApplsTbl #bulkRjctApplsBtn:hover {
    float: right;
}

#rjctApplsDiv #rjctApplsForm #rjctApplsTbl #rjctedApplsID {
    font-size: 1.2em;
    width: 220px;
    height: 36px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#lentEqptInfoDiv {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    top: 40px;
    width: 450px;
    height: 630px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #2569c3;
    visibility: visible;
    z-index: 10;
}

#lentEqptInfoDiv #lentEqptInfoForm {
    position: absolute;
    padding: 0px;
    margin: 0 auto;
    width: 450px;
    height: 630px;
}

#lentEqptInfoDiv #lentEqptInfoForm #lentEqptInfoTbl {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 90%;
    border-spacing: 8px;
}

#lentEqptInfoDiv #lentEqptInfoForm #lentEqptInfoTbl th {
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

#lentEqptInfoDiv #lentEqptInfoForm #lentEqptInfoTbl tr:nth-child(2) {
    text-align: center;
}

#lentEqptInfoDiv #lentEqptInfoForm #lentEqptInfoTbl label {
    font-size: 1.5em;
    font-weight: bold;
    color: #2569c3;
}

#lentEqptInfoDiv #lentEqptInfoForm #lentEqptInfoTbl #eqptID,
#lentEqptInfoDiv #lentEqptInfoForm #lentEqptInfoTbl #eqptName,
#lentEqptInfoDiv #lentEqptInfoForm #lentEqptInfoTbl #eqptCls,
#lentEqptInfoDiv #lentEqptInfoForm #lentEqptInfoTbl #colgName,
#lentEqptInfoDiv #lentEqptInfoForm #lentEqptInfoTbl #eqptCre {
    float: right;
    font-size: 1.2em;
    width: 220px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#lentEqptInfoDiv #lentEqptInfoForm #lentEqptInfoTbl textarea {
    float: right;
    font-size: 1.2em;
    width: 220px;
    height: 50px;
    resize: none;
    outline: none;
    overflow-y: scroll;
    border: 2px solid #2569c3;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, .98);
}

#lentEqptInfoDiv #lentEqptInfoForm #lentEqptInfoTbl #lendEqptInfoCancel {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 100%;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#lentEqptInfoDiv #lentEqptInfoForm #lentEqptInfoTbl #lendEqptInfoCancel:hover {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 100%;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #4586db;
    background-color: #4586db;
    border-radius: 15px;
}

#lendUserInfoDiv,
#brkUserInfoDiv {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    top: 40px;
    width: 450px;
    height: 490px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #2569c3;
    visibility: visible;
    z-index: 10;
}

#lendUserInfoDiv #lendUserInfoForm,
#brkUserInfoDiv #brkUserInfoForm {
    position: absolute;
    padding: 0px;
    margin: 0 auto;
    width: 450px;
    height: 490px;
}

#lendUserInfoDiv #lendUserInfoForm #lendUserInfoTbl,
#brkUserInfoDiv #brkUserInfoForm #brkUserInfoTbl {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 90%;
    border-spacing: 8px;
}

#lendUserInfoDiv #lendUserInfoForm #lendUserInfoTbl th,
#brkUserInfoDiv #brkUserInfoForm #brkUserInfoTbl th {
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

#lendUserInfoDiv #lendUserInfoForm #lendUserInfoTbl label,
#brkUserInfoDiv #brkUserInfoForm #brkUserInfoTbl label {
    font-size: 1.5em;
    font-weight: bold;
    color: #2569c3;
}

#lendUserInfoDiv #lendUserInfoForm #lendUserInfoTbl #userID,
#lendUserInfoDiv #lendUserInfoForm #lendUserInfoTbl #userName,
#lendUserInfoDiv #lendUserInfoForm #lendUserInfoTbl #userEmail,
#lendUserInfoDiv #lendUserInfoForm #lendUserInfoTbl #colgName,
#lendUserInfoDiv #lendUserInfoForm #lendUserInfoTbl #mjrName,
#brkUserInfoDiv #brkUserInfoForm #brkUserInfoTbl #userID,
#brkUserInfoDiv #brkUserInfoForm #brkUserInfoTbl #userName,
#brkUserInfoDiv #brkUserInfoForm #brkUserInfoTbl #userEmail,
#brkUserInfoDiv #brkUserInfoForm #brkUserInfoTbl #colgName,
#brkUserInfoDiv #brkUserInfoForm #brkUserInfoTbl #mjrName {
    float: right;
    font-size: 1.2em;
    width: 220px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#lendUserInfoDiv #lendUserInfoForm #lendUserInfoTbl #userGen,
#lendUserInfoDiv #lendUserInfoForm #lendUserInfoTbl #userRole,
#lendUserInfoDiv #lendUserInfoForm #lendUserInfoTbl #userAdms,
#brkUserInfoDiv #brkUserInfoForm #brkUserInfoTbl #userGen,
#brkUserInfoDiv #brkUserInfoForm #brkUserInfoTbl #userRole,
#brkUserInfoDiv #brkUserInfoForm #brkUserInfoTbl #userAdms {
    float: right;
    font-size: 1.2em;
    width: 65px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#lendUserInfoDiv #lendUserInfoForm #lendUserInfoTbl #lendUserInfoCancel,
#brkUserInfoDiv #brkUserInfoForm #brkUserInfoTbl #brkUserInfoCancel {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 100%;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#lendUserInfoDiv #lendUserInfoForm #lendUserInfoTbl #lendUserInfoCancel:hover,
#brkUserInfoDiv #brkUserInfoForm #brkUserInfoTbl #brkUserInfoCancel:hover {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 100%;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #4586db;
    background-color: #4586db;
    border-radius: 15px;
}

/*报修弹窗*/
#creBrkRecDiv,
#creBrkRecsDiv {
    position: relative;
    padding: 0;
    margin: 0 auto;
    top: 75px;
    width: 450px;
    height: 310px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #2569c3;
    visibility: visible;
    z-index: 10;
}

#creBrkRecDiv #creBrkRecForm,
#creBrkRecsDiv #creBrkRecsForm {
    position: absolute;
    padding: 0;
    margin: 0 auto;
    width: 450px;
    height: 310px;
    border-radius: 25px;
    background-color: #ffffff;
}

#creBrkRecDiv #creBrkRecForm #creBrkRecTbl,
#creBrkRecsDiv #creBrkRecsForm #creBrkRecsTbl {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 90%;
    border-spacing: 15px;
}

#creBrkRecDiv #creBrkRecForm #creBrkRecTbl span,
#creBrkRecsDiv #creBrkRecsForm #creBrkRecsTbl span {
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

#creBrkRecDiv #creBrkRecForm #creBrkRecTbl label,
#creBrkRecsDiv #creBrkRecsForm #creBrkRecsTbl label {
    float: left;
    font-size: 1.5em;
    font-weight: bold;
    color: #2569c3;
}

#creBrkRecDiv #creBrkRecForm #creBrkRecTbl #brkLendID,
#creBrkRecDiv #creBrkRecForm #creBrkRecTbl #brkLentEqptID {
    float: right;
    font-size: 1.2em;
    width: 220px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#creBrkRecsDiv #creBrkRecsForm #creBrkRecsTbl #brkLendIDs,
#creBrkRecsDiv #creBrkRecsForm #creBrkRecsTbl #brkLentEqptIDs {
    float: right;
    font-size: 1.2em;
    width: 228px;
    height: 36px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#creBrkRecDiv #creBrkRecForm #creBrkRecTbl textarea,
#creBrkRecsDiv #creBrkRecsForm #creBrkRecsTbl textarea {
    float: right;
    font-size: 1.2em;
    width: 220px;
    height: 100px;
    resize: none;
    outline: none;
    overflow-y: scroll;
    border: 2px solid #2569c3;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, .98);
}

#creBrkRecDiv #creBrkRecForm #creBrkRecTbl #creBrkRecCancelBtn,
#creBrkRecDiv #creBrkRecForm #creBrkRecTbl #creBrkRecBtn,
#creBrkRecsDiv #creBrkRecsForm #creBrkRecsTbl #creBrkRecsCancelBtn,
#creBrkRecsDiv #creBrkRecsForm #creBrkRecsTbl #bulkCreBrkRecsBtn {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 170px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#creBrkRecDiv #creBrkRecForm #creBrkRecTbl #creBrkRecCancelBtn:hover,
#creBrkRecDiv #creBrkRecForm #creBrkRecTbl #creBrkRecBtn:hover,
#creBrkRecsDiv #creBrkRecsForm #creBrkRecsTbl #creBrkRecsCancelBtn:hover,
#creBrkRecsDiv #creBrkRecsForm #creBrkRecsTbl #bulkCreBrkRecsBtn:hover {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 170px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #4586db;
    background-color: #4586db;
    border-radius: 15px;
}

#creBrkRecDiv #creBrkRecForm #creBrkRecTbl #creBrkRecBtn,
#creBrkRecDiv #creBrkRecForm #creBrkRecTbl #creBrkRecBtn:hover,
#creBrkRecsDiv #creBrkRecsForm #creBrkRecsTbl #bulkCreBrkRecsBtn,
#creBrkRecsDiv #creBrkRecsForm #creBrkRecsTbl #bulkCreBrkRecsBtn:hover {
    float: right;
}