/*弹框样式表文件*/

#updateEmailDiv {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    top: 80px;
    width: 600px;
    height: 400px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #2569c3;
    visibility: visible;
    z-index: 10;
}

#updateEmailDiv #updateEmailFrm {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 600px;
    height: 400px;
    border-radius: 25px;
    background-color: #ffffff;
}

#updatePasswdDiv {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    top: 80px;
    width: 620px;
    height: 490px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #2569c3;
    visibility: visible;
    z-index: 10;
}

#updatePasswdDiv #updatePasswdFrm {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 620px;
    height: 490px;
    border-radius: 25px;
    background-color: #ffffff;
}

#updateEmailFrm #updateTitleTxt, #updatePasswdFrm #updateTitleTxt {
    font-size: 1.8em;
    color: #2569c3;
}

#updateEmailFrm label, #updatePasswdFrm label {
    font-size: 1.5em;
    color: #2569c3;
}

#updateEmailTbl, #updatePasswdTbl {
    position: relative;
    padding: 0;
    margin: 8.5px auto;
    border-spacing: 10px;
}

#updateEmailFrm #userPasswd, #updatePasswdFrm #newPasswd {
    margin: 2px auto;
    font-size: 25px;
    width: 470px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 20px;
}

#updatePasswdFrm #retype {
    margin: 2px auto;
    font-size: 25px;
    width: 470px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 20px;
}

#updateEmailFrm #userEmail, #updatePasswdFrm #userEmail {
    margin: 2px auto;
    font-size: 25px;
    width: 300px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 20px;
}

#updateEmailFrm #sendCodeBtn-updateEmail, #updatePasswdFrm #sendCodeBtn-updatePasswd {
    font-size: 1.2em;
    color: #ffffff;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #2569c3;
    border: 2px solid #2569c3;
}

#updateEmailFrm #code-updateEmail, #updatePasswdFrm #code-updatePasswd {
    margin: 2px auto;
    font-size: 25px;
    width: 470px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 20px;
}


#updateEmailFrm .helpTxt, #updatePasswdFrm .helpTxt {
    font-size: 1.2em;
    color: #ec8b1c;
}

#cancelBtn, .updateBtn {
    float: right;
}

#updateEmailFrm #cancelBtn, #updatePasswdFrm #cancelBtn {
    font-size: 1.2em;
    color: #2569c3;
    width: 60px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 0 solid #ffffff;
}

#updateEmailFrm #toUpdateEmail, #updatePasswdFrm #toUpdatePasswd {
    font-size: 1.2em;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #2569c3;
    border: 2px solid #2569c3;
}