/*弹框样式表文件*/

#updateEmailDiv {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    top: 80px;
    width: 600px;
    height: 400px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #2569c3;
    visibility: visible;
    z-index: 10;
}

#updateEmailDiv #updateEmailFrm {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 600px;
    height: 400px;
    border-radius: 25px;
    background-color: #ffffff;
}

#updatePasswdDiv {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    top: 80px;
    width: 620px;
    height: 490px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #2569c3;
    visibility: visible;
    z-index: 10;
}

#updatePasswdDiv #updatePasswdFrm {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 620px;
    height: 490px;
    border-radius: 25px;
    background-color: #ffffff;
}

#updateEmailFrm #updateTitleTxt, #updatePasswdFrm #updateTitleTxt {
    font-size: 1.8em;
    color: #2569c3;
}

#updateEmailFrm label, #updatePasswdFrm label {
    font-size: 1.5em;
    color: #2569c3;
}

#updateEmailTbl, #updatePasswdTbl {
    position: relative;
    padding: 0;
    margin: 8.5px auto;
    border-spacing: 10px;
}

#updateEmailFrm #userPasswd, #updatePasswdFrm #newPasswd {
    margin: 2px auto;
    font-size: 25px;
    width: 470px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 20px;
}

#updatePasswdFrm #retype {
    margin: 2px auto;
    font-size: 25px;
    width: 470px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 20px;
}

#updateEmailFrm #userEmail, #updatePasswdFrm #userEmail {
    margin: 2px auto;
    font-size: 25px;
    width: 300px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 20px;
}

#updateEmailFrm #sendCodeBtn-updateEmail, #updatePasswdFrm #sendCodeBtn-updatePasswd {
    font-size: 1.2em;
    color: #ffffff;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #2569c3;
    border: 2px solid #2569c3;
}

#updateEmailFrm #code-updateEmail, #updatePasswdFrm #code-updatePasswd {
    margin: 2px auto;
    font-size: 25px;
    width: 470px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 20px;
}


#updateEmailFrm .helpTxt, #updatePasswdFrm .helpTxt {
    font-size: 1.2em;
    color: #ec8b1c;
}

.popUpBtn #cancelBtn, .popUpBtn {
    float: right;
}

#updateEmailFrm #cancelBtn, #updatePasswdFrm #cancelBtn {
    font-size: 1.2em;
    color: #2569c3;
    width: 60px;
    height: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 0 solid #ffffff;
}

#updateEmailFrm #toUpdateEmail, #updatePasswdFrm #toUpdatePasswd {
    font-size: 1.2em;
    color: #ffffff;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    background-color: #2569c3;
    border: 2px solid #2569c3;
}

#eqptDetlDiv {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    top: 40px;
    width: 550px;
    height: 600px;
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #2569c3;
    visibility: visible;
    z-index: 10;
}

#eqptDetlDiv #eqptDetlForm {
    position: absolute;
    padding: 0px;
    margin: 0 auto;
    width: 550px;
    height: 600px;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 90%;
    border-spacing: 10px;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #detlTitleTxt {
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #editEqptDetlInfo,
#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptDetlName,
#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptDetlID,
#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptDetlCre,
#eqptDetlDiv #eqptDetlForm #eqptDetlTbl select,
#eqptDetlDiv #eqptDetlForm #eqptDetlTbl textarea {
    float: right;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl tr td span {
    font-size: 1.2em;
    font-weight: bold;
    color: #2569c3;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptImg {
    width: 200px;
    height: 206.8px;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptDetlID,
#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptDetlName {
    font-size: 1.2em;
    width: 220px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptDetlCre {
    font-size: 1.2em;
    width: 223px;
    height: 32px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptDetlColg {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 228px;
    height: 36px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl textarea {
    font-size: 1.2em;
    width: 220px;
    height: 50px;
    resize: none;
    outline: none;
    overflow-y: scroll;
    border: 2px solid #2569c3;
    border-radius: 5px;
    background-color: rgba(241, 241, 241, .98);
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    background-color: #F5F5F5;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: #c8c8c8;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #editEqptDetlInfo,
#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #editDetlUpdateBtn {
    font-size: 1.2em;
    width: 150px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #editDetlCancelBtn {
    font-size: 1.2em;
    width: 150px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #dd6933;
    background-color: #dd6933;
    border-radius: 15px;
}

#eqptDetlDiv #eqptDetlForm #eqptDetlTbl #eqptImg {
    text-align: center;
}