#stdUserRecsDiv {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 20px;
}

#stdUserRecsDiv #stdUserRecsForm {
    position: absolute;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu {
    width: 100%;
}

#stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu span {
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

#stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu #searchItem {
    font-size: 1.5em;
    width: 350px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu #searchType {
    padding: 1px 2px;
    font-size: 1.5em;
    width: 150px;
    height: 36px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu #queryStdUsersBtn {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 75px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu #queryStdUsersBtn:hover {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 75px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #4586db;
    background-color: #4586db;
    border-radius: 15px;
}

#stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu #addNewStdUserBtn,
#stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu #importStdUsersBtn,
#stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu #deleteStdUsersBtn {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 100px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu #addNewStdUserBtn:hover,
#stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu #importStdUsersBtn:hover,
#stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu #deleteStdUsersBtn:hover {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 100px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #4586db;
    background-color: #4586db;
    border-radius: 15px;
}

#stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu tr:nth-child(2) td:nth-child(1) {
    width: 366px;
}

#stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu tr:nth-child(2) td:nth-child(2) {
    width: 158px;
}

#stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu tr:nth-child(2) td:nth-child(3) {
    width: 83px;
}

#stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu tr:nth-child(2) td:nth-child(4) {
    width: 108px;
}

/* #stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu tr:nth-child(2) td:nth-child(4),
#stdUserRecsDiv #stdUserRecsForm #stdUserQueryMenu tr:nth-child(2) td:nth-child(5) {
    width: 108px;
} */

#stdUserRecsDiv #stdUserRecsForm #stdUserRecsTbl {
    width: 100%;
    border-collapse: collapse;
}

#stdUserRecsDiv #stdUserRecsForm #stdUserRecsTbl th {
    font-size: 1.2em;
    background-color: #4d86d1;
    color: #ffffff;
    border: 1px solid #ffffff;
}

#stdUserRecsDiv #stdUserRecsForm #stdUserRecsTbl td {
    font-size: 1.1em;
    background-color: #c4cdda;
    color: #000000;
    border: 1px solid #ffffff;
}

#stdUserRecsDiv #stdUserRecsForm #stdUserRecsTbl a {
    text-decoration: none;
}

#stdUserRecsDiv #stdUserRecsForm #stdUserRecsTbl .delStdUserBtn,
#stdUserRecsDiv #stdUserRecsForm #stdUserRecsTbl .updtStdPasswdBtn {
    font-size: 1.1em;
    margin-right: 10px;
}