#queryEqptsDiv {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 20px;
}

#queryEqptsDiv #queryEqptsForm {
    position: absolute;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#queryEqptsDiv #queryEqptsForm #queryEqptsTbl {
    width: 100%;
}

#queryEqptsDiv #queryEqptsForm #queryEqptsTbl #titleTxt {
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

#queryEqptsDiv #queryEqptsForm #queryEqptsTbl #searchItem {
    font-size: 1.5em;
    width: 350px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#queryEqptsDiv #queryEqptsForm #queryEqptsTbl #searchType {
    padding: 1px 2px;
    font-size: 1.5em;
    width: 130px;
    height: 36px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#queryEqptsDiv #queryEqptsForm #queryEqptsTbl #queryEqptsBtn {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 75px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#queryEqptsDiv #queryEqptsForm #queryEqptsTbl #addEqptBtn,
#queryEqptsDiv #queryEqptsForm #queryEqptsTbl #impEqptsBtn,
#queryEqptsDiv #queryEqptsForm #queryEqptsTbl #delEqptsBtn {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 100px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#queryEqptsDiv #queryEqptsForm #queryRsltTbl {
    width: 100%;
    border-collapse: collapse;
}

#queryEqptsDiv #queryEqptsForm #queryRsltTbl th {
    font-size: 1.2em;
    background-color: #4d86d1;
    color: #ffffff;
    border: 1px solid #ffffff;
}

#queryEqptsDiv #queryEqptsForm #queryRsltTbl td {
    font-size: 1.1em;
    background-color: #c4cdda;
    color: #000000;
    border: 1px solid #ffffff;
}

#queryEqptsDiv #queryEqptsForm #queryRsltTbl a {
    text-decoration: none;
}

#queryEqptsDiv #queryEqptsForm #queryRsltTbl .lendBtn {
    font-size: 1.1em;
}