#tchUserRecsDiv {
    position: absolute;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 20px;
}

#tchUserRecsDiv #tchUserRecsForm {
    position: absolute;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

#tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu {
    width: 100%;
}

#tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu span {
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

#tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu #searchItem {
    font-size: 1.5em;
    width: 350px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu #searchType {
    padding: 1px 2px;
    font-size: 1.5em;
    width: 150px;
    height: 36px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 15px;
}

#tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu #queryTchUsersBtn {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 75px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu #queryTchUsersBtn:hover {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 75px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #4586db;
    background-color: #4586db;
    border-radius: 15px;
}

#tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu #addNewTchUserBtn,
#tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu #importTchUsersBtn,
#tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu #deleteTchUsersBtn {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 100px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #2569c3;
    background-color: #2569c3;
    border-radius: 15px;
}

#tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu #addNewTchUserBtn:hover,
#tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu #importTchUsersBtn:hover,
#tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu #deleteTchUsersBtn:hover {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 100px;
    height: 36px;
    outline: none;
    color: #ffffff;
    border: 2px solid #4586db;
    background-color: #4586db;
    border-radius: 15px;
}

#tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu tr:nth-child(2) td:nth-child(1) {
    width: 366px;
}

#tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu tr:nth-child(2) td:nth-child(2) {
    width: 158px;
}

#tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu tr:nth-child(2) td:nth-child(3) {
    width: 83px;
}

#tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu tr:nth-child(2) td:nth-child(4) {
    width: 108px;
}

/* #tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu tr:nth-child(2) td:nth-child(4),
#tchUserRecsDiv #tchUserRecsForm #tchUserQueryMenu tr:nth-child(2) td:nth-child(5) {
    width: 108px;
} */

#tchUserRecsDiv #tchUserRecsForm #tchUserRecsTbl {
    width: 100%;
    border-collapse: collapse;
}

#tchUserRecsDiv #tchUserRecsForm #tchUserRecsTbl th {
    font-size: 1.2em;
    background-color: #4d86d1;
    color: #ffffff;
    border: 1px solid #ffffff;
}

#tchUserRecsDiv #tchUserRecsForm #tchUserRecsTbl td {
    font-size: 1.1em;
    background-color: #c4cdda;
    color: #000000;
    border: 1px solid #ffffff;
}

#tchUserRecsDiv #tchUserRecsForm #tchUserRecsTbl a {
    text-decoration: none;
}

#tchUserRecsDiv #tchUserRecsForm #tchUserRecsTbl .delTchUserBtn,
#tchUserRecsDiv #tchUserRecsForm #tchUserRecsTbl .updtTchPasswdBtn {
    font-size: 1.1em;
    margin-right: 10px;
}