body,
html {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #edf2f9;
}

span {
    font-size: 1.2em;
    color: #2569c3;
}

input::-webkit-input-placeholder {
    text-align: center;
}

#logoTxtDiv {
    position: relative;
    padding: 0px;
    margin: 10px auto;
    width: 100%;
    height: 50px;
}

#logoTxt {
    position: absolute;
    margin: 0px 18px;
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

#registerFormDiv {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 450px;
    height: 570px;
    border: 2px solid #2569c3;
    border-radius: 20px;
    background-color: #ffffff;
}

#registerForm {
    position: absolute;
    padding: 0px;
    margin: 0 auto;
    width: 450px;
    height: 570px;
}

#registerFormTbl {
    position: relative;
    padding: 0;
    margin: 7px auto;
    border-spacing: 10px;
}

th {
    font-size: 2em;
    font-weight: bold;
    color: #2569c3;
}

.verifyTxt, .btn {
    text-align: center;
}

label {
    font-size: 1.5em;
    color: #2569c3;
}

#userID, #userName, #userPasswd, #retype, #userEmail {
    font-size: 1.2em;
    width: 250px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 20px;
}

#userGen, #userAdms {
    font-size: 1.2em;
    width: 90px;
    height: 34px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 20px;
}

#colgName, #mjrName {
    padding: 1px 2px;
    font-size: 1.2em;
    width: 258px;
    height: 34px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 20px;
}

#createAccBtn {
    font-size: 1.2em;
    color: #ffffff;
    width: 367px;
    height: 40px;
    border-radius: 20px;
    background-color: #2569c3;
    border: 2px solid #2569c3;
}