body, html {
    padding: 0px;
    margin: 0px;
    height: 100%;
    background-color: #edf2f9;
}

#logoTxtDiv {
    position: relative;
    padding: 0px;
    margin: 10px auto;
    width: 100%;
    height: 50px;
}

#logoTxt {
    position: absolute;
    margin: 0px 18px;
    font-size: 25px;
    font-weight: bold;
    color: #2569c3;
}

#resetFormDiv {
    position: relative;
    padding: 0px;
    margin: 30px auto 0px auto;
    width: 400px;
    height: 450px;
    border-radius: 20px;
    background-color: #ffffff;
}

#resetForm {
    position: relative;
    padding: 0px;
    margin: 0 auto;
    width: 258px;
    height: 450px;
}

#resetTxtDiv {
    position: absolute;
    padding: 0px;
    margin: 20px auto 0px auto;
    width: 258px;
    height: 50px;
    text-align: center;
}

#resetTxt {
    padding: 0px;
    margin: auto;
    font-size: 30px;
    color: #2569c3;
}

#resetBoxDiv {
    position: absolute;
    padding: 0px;
    margin: 70px auto 0px auto;
    width: 258px;
    height: 380px;
}

#codeBoxDiv {
    position: absolute;
    padding: 0px;
    margin: 10px auto 0px auto;
    width: 258px;
    height: 50px;
}

#passwdBoxDiv {
    position: absolute;
    padding: 0px;
    margin: 80px auto 0px auto;
    width: 258px;
    height: 50px;
}

#verifyBoxDiv {
    position: absolute;
    padding: 0px;
    margin: 150px auto 0px auto;
    width: 258px;
    height: 50px;
}

#resetBtnDiv {
    position: absolute;
    padding: 0px;
    margin: 220px auto 0px auto;
    width: 258px;
    height: 50px;
}

input::-webkit-input-placeholder {
    text-align: center;
}

#codeBox, #passwdBox, #verifyBox{
    margin: 2px auto;
    font-size: 25px;
    width: 250px;
    height: 30px;
    outline: none;
    border: 2px solid #2569c3;
    border-radius: 20px;
}

#resetBtn {
    margin: 5px auto;
    font-size: 25px;
    color: #ffffff;
    width: 258px;
    height: 40px;
    border-radius: 20px;
    background-color: #2569c3;
    border: 2px solid #2569c3;
}

#codeTipDiv {
    position: absolute;
    padding: 0px;
    margin: 53px auto 0px auto;
    width: 258px;
    height: 40px;
    text-align: center;
    color: #2569c3;
}

#passwdTipDiv {
    position: absolute;
    padding: 0px;
    margin: 123px auto 0px auto;
    width: 258px;
    height: 40px;
    text-align: center;
    color: #2569c3;
}

#verifyTipDiv {
    position: absolute;
    padding: 0px;
    margin: 193px auto 0px auto;
    width: 258px;
    height: 40px;
    text-align: center;
    color: #2569c3;
}

#footerTxtDiv {
    position: relative;
    padding: 0px;
    margin: 20px auto;
    width: 400px;
    height: 25px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid #2569c3;
    background-color: #ffffff;
}

#footerTxt {
    margin: 0 auto;
    font-size: small;
    color: #2569c3;
}